.idea/
.project
.settings/
Default/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
average-config
bin/
compile
config.guess
config.log
config.status
config.sub
configure
doc/html/
doc/manual/Release.key
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
*/Makefile
*/Makefile.in
*/*.o
num_utils/libnum_utils.a
source/averager
source/averager.so
source/libaverage.a

